{% extends 'Inicio-Admin.html' %}

{% block content %}
<div class="container" style="padding: 2%;">
    <div class="container">
        <div class="mb-2" style="background-color:rgb(231, 214, 151); border-radius: 20px;">
            <h2 class="text-center mb-2">Consulta - Información</h2>
            <hr>
            <div style="padding: 3%;">
                <div class="container mb-2 justify-content-center" style="border-radius: 20px; padding: 3%; background-color: aliceblue;">
                <h5>Nombre Paciente:</h5>
                <h6>{{InfoConsulta.idPaciente.nombre}}</h6>
                <h5>Razón Visita:</h5>
                <h6>{{InfoConsulta.razon_visita}}</h6>
                <h5>Fecha de Creación:</h5>
                <h6>{{InfoConsulta.fecha_consulta}}</h6>
                <h5>Nombre Doctor:</h5>
                <h6>{{InfoConsulta.idDoctor.nombre}}</h6>
                <h5>Diagnostico:</h5>
                <h6>{{InfoConsulta.diagnostico}}</h6>
                <h5>Receta:</h5>
                <h6>{{InfoConsulta.receta}}</h6>
                <form action="{% url 'eliminarConsultaAdmin' InfoConsulta.idConsulta %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end align-items-end mb-1">
                        <button class="btn btn-danger" type="submit"><i class="bi bi-pencil-square"></i>Eliminar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}