<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="bi bi-capsule-pill"></i> Eterna Primavera</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="bi bi-capsule-pill"></i> Eterna primavera</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminInicio' %}"><i class="bi bi-house-heart"></i>Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminConsultas' %}"><i class="bi bi-file-earmark-text"></i>Consultas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminPacientes' %}"><i class="bi bi-person-heart"></i>Registro Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminDoctores' %}"><i class="bi bi-person-lines-fill"></i>Registro Doctores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adminPerfil' %}"><i class="bi bi-person-circle"></i>Perfil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>