{% extends 'Inicio-Admin.html' %}

{% block content %}
<div class="container" style="padding: 2%;">
    <div class="container">
        <div class="mb-2" style="background-color:rgb(231, 237, 167); border-radius: 20px;">
            <h2 class="text-center mb-2">Perfil - Información</h2>
            <hr>
            <div style="padding: 3%;">
                <div class="container mb-2 justify-content-center" style="border-radius: 20px; padding: 3%; background-color: aliceblue;">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>**Cuando se editen los datos se cerrara la sesión  </p>
                        <div class="d-flex justify-content-end align-items-end mb-1">
                            <button class="btn btn-secondary" type="submit"><i class="bi bi-pencil-square"></i>Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}