<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/icono.png">
    <title>La eterna Primavera</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body body style="background-color: rgb(252, 252, 252);">
      <!--Encabezado-->
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 223, 241); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> <img src="images/icono.png" alt="LogoGeneral" width="auto" height="25"> La Eterna Primavera</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formulario.html">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="historia.html">Historia</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Historia desgarradora-->
  <div class="jumbotron jumbotron-fluid" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container">
      <h1 class="display-4">La eterna Primavera</h1>
      <p class="lead">Hace varias décadas, en un pequeño pueblo rodeado de campos floridos y montañas imponentes, vivía una mujer llamada Elena. Elena era una enfermera apasionada por la medicina y el cuidado de las personas. Su vida estaba marcada por la empatía y la dedicación hacia sus pacientes, a quienes consideraba como su propia familia.</p>
      <p class="lead"></p>
    </div>
  </div>
  <center><img src="images/HistoriaImagen1.png" width="auto" height="800" ></center>
  <div class="jumbotron jumbotron-fluid" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container">
      <p class="lead">Un fatídico día, una epidemia devastadora golpeó el pueblo. Elena se encontró en la primera línea de batalla, luchando incansablemente para salvar vidas. A pesar de sus esfuerzos, muchas personas perdieron la vida, incluyendo a seres queridos de Elena. La tragedia la dejó profundamente marcada y con un sentimiento de impotencia que nunca había experimentado antes.</p>
      <p class="lead">Después de la epidemia, Elena decidió que no podía permitir que algo así volviera a suceder. Se propuso crear un lugar donde la atención médica no solo se centrara en el tratamiento de enfermedades, sino en la prevención y el bienestar integral de las personas. Así nació la idea de "La eterna Primavera".</p>
    </div>
  </div>
  <center><img src="images/Historia Imagen2.png" width="auto" height="800" ></center>

  <div class="jumbotron jumbotron-fluid" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container">
      <p class="lead">Con determinación y sacrificio, Elena reunió a un grupo de profesionales de la salud que compartían su visión. Juntos, trabajaron arduamente para convertir su sueño en realidad. El nombre "La eterna Primavera" fue elegido como un símbolo de renacimiento y esperanza, recordando a todos que incluso en los momentos más oscuros, siempre hay una oportunidad para florecer de nuevo.</p>
      <p class="lead">La clínica se construyó en el mismo lugar donde Elena había enfrentado la epidemia, transformando el dolor en un lugar de sanación y renovación. Desde entonces, "La eterna Primavera" se ha convertido en un referente de excelencia médica y cuidado compasivo. El equipo de profesionales se esfuerza cada día por brindar a los pacientes no solo tratamientos efectivos, sino también apoyo emocional y un ambiente cálido y acogedor.</p>
      <p class="lead">La razón de la creación de "La eterna Primavera" es una historia desgarradora, pero también es una historia de coraje, determinación y amor por la humanidad. Elena y su equipo han convertido la tragedia en una fuente de inspiración para ayudar a las personas a vivir vidas más saludables y felices. Su legado perdura en cada vida que tocan y en cada flor que florece en los jardines que rodean la clínica.</p>
    </div>
  </div>
  <center><img src="images/HistoriaImagen3.png" width="auto" height="800" ></center>
  <!--Pie de Página-->
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <section class="social">
          <p>Siguenos en nuestras redes</p>
          <div class="links">
              <a href="#">Facebook<i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">Instagram<i class="fab fa-instagram-f"></i>
              </a>
              <a href="#">Linkedin<i class="fab fa-linkedin-f"></i>
              </a>
          </div>
      </section>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Datos de los Estudiantes:</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <!--Grid column-->
  
            <!--Grid column-->
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Rafael Estrada Guzmán, 202145331
        </p>
        <p>
          Jorge David Quezada Calel, 202145439
        </p>
      </section>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(180, 179, 179, 0.2);">
      © 2023 Copyright
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>