{% extends 'tmp.html' %}

{% block content %}
  <!--Carrusel de Imagenes-->
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="src/images/Carrusel1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="src/images/Carrusel2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="src/images/Carrusel3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Titulo-->
  <div class="jumbotron jumbotron-fluid" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container">
      <h1 class="display-4">LA ETERNA PRIMAVERA</h1>
      <p class="lead">La Eterna Primavera es un centro médico dedicado a proporcionar atención integral y especializada para mejorar la salud y el bienestar de nuestros pacientes. Nuestro equipo de profesionales altamente calificados se enfoca en brindar un cuidado personalizado y de calidad en un ambiente acogedor y tranquilo. Nos esforzamos por promover la vitalidad y el rejuvenecimiento, ofreciendo servicios médicos de vanguardia con un enfoque holístico. En La Eterna Primavera, buscamos ser un oasis de salud y vitalidad para nuestra comunidad.</p>
    </div>
  </div>

  <!--Cartas-->
  <!--
  <div class="container" style="background-color: #637581;">
    <div class="row">
      <div class="col">
        <h2 class="text-center display-4">Conocenos</h2>
      </div>
    </div>
  </div>
  <div class="container" style="background-color: #637581; ">
    <div class="row">
      <div class="col-sm text-center">
        <img src="images/Registrate.png" width="auto" height="200">
        <p>Registrate con nosotros</p>
      </div>
      <div class="col-sm text-center">
        <img src="images/Registrate.png" width="auto" height="200">
        <p>Registrate con nosotros</p>
      </div>
      <div class="col-sm text-center">
        <img src="images/Registrate.png" width="auto" height="200">
        <p>Registrate con nosotros</p>
      </div>
      <div class="col-sm text-center">
        <img src="images/Registrate.png" width="auto" height="200">
        <p>Registrate con nosotros</p>
      </div>
    </div>
  </div>
  -->
  <!--Cartas 2-->
  <div class="card-group text-center" >
    <div class="card" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <img src="src/images/Registrate.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Formulario</h5>
        <p class="card-text">Completa nuestro sencillo y seguro formulario de registro para acceder a una experiencia personalizada. Únete a nuestra comunidad y comienza tu viaje hacia el bienestar.</p>
        <a href="#" class="btn btn-secondary">Registrate con nosotros</a>

      </div>
    </div>
    <div class="card" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <img src="src/images/ConcatoIdex.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conacto</h5>
        <p class="card-text">Conéctate con nosotros a través de nuestro formulario de contacto. Estamos aquí para responder tus preguntas y brindarte el apoyo que necesitas. ¡Esperamos escucharte pronto!</p>
        <a href="#" class="btn btn-secondary">Contactanos</a>

      </div>
    </div>
    <div class="card" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <img src="src/images/HistoriaIndex.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Historia</h5>
        <p class="card-text">Descubre nuestra rica historia y la evolución de nuestro compromiso con la salud y el bienestar. Desde nuestros inicios hasta hoy, hemos estado dedicados a tu cuidado integral.</p>
        <a href="#" class="btn btn-secondary">Conócenos</a>

      </div>
    </div>
    <div class="card" style="background-color: rgb(252, 252, 252); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <img src="src/images/otrosIndex.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Otros</h5>
        <p class="card-text">Explora una amplia gama de servicios diseñados para mejorar tu bienestar. Desde tratamientos especializados hasta programas de apoyo, estamos aquí para satisfacer tus necesidades individuales.</p>
        <a href="#" class="btn btn-secondary">Más servicios</a>
      </div>
      </div>
  </div>
  {% endblock %}
